.container
  .row
    .dark-overlay
      %ul.job-postings
        - @jobs.each do |j|
          %li
            %h2= j.title
            .job-desc
              - md = Redcarpet::Markdown.new(Redcarpet::Render::HTML, :autolink => true, :space_after_headers => true)
              - description = md.render(j.description).html_safe
              = description
