.container
  .row
    .dark-overlay
      .job-postings
        - @jobs.each do |j|

          %h2= link_to j.title, job_path(j)
          .job-desc
            - md = Redcarpet::Markdown.new(Redcarpet::Render::HTML, :autolink => true, :space_after_headers => true)
            - description = md.render(j.summary).html_safe
            = description
            .read-more 
              %a.btn-rounded{ :href => job_path(j) }
                Read more &rarr;
              

