!!!
%html
  %head
    %title Work With Us! | EdeyLabs
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    #bgoverlay

    %div{ :style => "position: relative; z-index: 110" }
      %section.top-section.small-top-section
        .container
          .row
            %a.logo{ :href => root_url }

            %h1.main
              Work With Us
            %h3.header-desc
              We are a small team of technology enthusiasts based in Cebu City, Philippines.
      = yield

    #bgStretch
